.gradient {
    background: #833AB4;
    background: linear-gradient(161deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
h1 {
    font-family: 'Pixelify Sans', sans-serif;
}